<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <img src="{{ user_image }}" alt="User Image">

        <form method="POST" action="/send">
            <button type="submit" name="Maus" value="Maus" style="font-size : 40px; width:200px;height:60px;"> Maus </button>
            <button type="submit" name="Keine Maus" value="Keine Maus" style="font-size : 40px; width:200px;height:60px"> Keine Maus </button>
            <button type="submit" name="NA" value="NA" style="font-size:40px;width:200px;height:60px"> NA </button>
            <button type="submit" name="Ende" value="Ende" style="font-size:40px;width:200px;height:60px"> Ende </button>
        </form>
</body>


</html>
